input[type="email"], 
input[type="password"] {
  outline: none;
  font-family: inherit;
  transition: border 0.2s;
}
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: var(--primary-color, #1A237E);
}
